.filterWidget select {
    padding: 8px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
}
.filterWidget select:focus {
    outline: none !important;
}
.filterWidget select option {
    font-size: 0.9rem;
}
.searchBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 2px;
    cursor: pointer;
}
.searchBox input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}
.searchCol {
    margin-top: 0.4rem !important;
}
.searchBox span {
    color: var(--primary-color);
}
.filterCol {
    width: auto !important;
    margin-top: 0.4rem !important;
}
.filtersRow {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 768) {
    .filterWidget {
        margin-bottom: 30px;
    }
    .filterWidget select {
        padding: 7px 20px;
        font-size: 0.9rem;
    }
}
