.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.logo img {
    width: 1.5rem;
    height: 1.5rem;
}
.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}
.navItem a {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
.navIcons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}
.navIcons span i {
    font-size: 1.4rem;
    color: var(--primary-color);
    cursor: pointer;
}
.navIcons span img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.mobileMenu {
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
}
.navActive {
    font-weight: 700 !important;
}
.cartIcon, 
.favIcon {
    position: relative;
}
.badge {
    position: absolute;
    top: 20%;
    right: -40%;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50% !important;
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    font-size: 0.7rem !important;
    font-weight: 600 !important;
    z-index: 10;
    width: 20px;
    height: 20px;
}
.stickyHeader {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: #fff;
}
@media only screen and (max-width: 768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.53);
        z-index: 9999;
        display: none;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .activeMenu {
        display: block;
    }
    .mobileMenu {
        display: block;
    }
    .mobileMenu span i {
        font-size: 1.1rem !important;
    }
    .logo img {
        width: 1rem;
        height: 1rem;
    }
    .logo h1 {
        font-size: 1rem;
    }
    .favIcon i, 
    .cartIcon i {
        font-size: 1.2rem !important;
    }
    .navIcons span img {
        width: 1.4rem;
        height: 1.4rem;
    }
    .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
}