.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}
.footerText {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.735);
}
.footerQuickLinks ul li {
    background: transparent !important;
    border: none;
}
.footerQuickLinks ul li a {
    color: rgba(255, 255, 255, 0.735);
}
.quickLinksTitle {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}
.footerContact li span,
.footerContact li p {
    color: rgba(255, 255, 255, 0.735);
}
.footerContact li span {
    font-size: 1.2rem;
}
.footerContact li p {
    font-size: 0.9rem;
}
.footerCopyright {
    color: rgba(255, 255, 255, 0.735);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}